*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://wallpapercrafter.com/sizes/2048x1152/69608-pixel-buildings-artist-artwork-digital-art-hd-4k-deviantart.jpg);
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.container{
    margin: 50px;
}

.hidden{
    display: none;
}

.show{
    display: block;
}